<mat-accordion multi="true" *ngIf="listComponents.length > 0">
  <mat-expansion-panel *ngFor="let list of listComponents" >
    <mat-expansion-panel-header>
      {{list.title}}
    </mat-expansion-panel-header>
    <p>
      {{list.content}}
    </p>
    <mat-action-row>
      <button mat-button>EDIT</button>
      <button mat-button color="warn" (click)="OnDelete(list.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<div >
  <p *ngIf="listComponents.length == 0" class="mat-body-1">No posts added</p>
</div>
